<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body >
    <header class="header">
      <div class="container container--flex">
        <div class="logo">
          <a href="{{ url_for('product.products') }}">
            <img
              src="{{ url_for('static', filename='image/logo.png') }}"
              alt="logo"
            />
            Product meneger
          </a>
        </div>
        <div class="authorization">
          {% if not company %}
          <a href="{{ url_for('auth.login') }}" class="button button-reverse">Login</a>
          <a href="{{ url_for('auth.register') }}" class="button button-with-border">Register</a>
          {% else %}
          <a href="{{ url_for('auth.logout') }}" class="button button-with-border">Log Out</a>
          {% endif %}
        </div>
    </header>
    <main>
      <div class="centred-body">
        <div class="container-card">
          <h1 class="title card-title">{{ title }}</h1>
          <form method="post" class="card-form">
            <div class="grouping">
              <label for="new-price" class="card-label">
                Price
              </label>  
              <input
                type="number"
                name="new-price"
                placeholder="{{ current_price }}"
                value="{{ current_price }}"
                id="new-price"
                class="input"
              />
            </div>
            <div class="grouping">
              <label for="new-category" class="card-label">
                Category
              </label>  
              <input
                type="text"
                name="new-category"
                placeholder="{{ current_category }}"
                value="{{ current_category }}"
                id="new-category"
                class="input"
              />          
            </div>        
            <button type="submit" class="button">Save</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
