<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <header class="header">
      <div class="container container--flex">
        <div class="logo">
          <a href="{{ url_for('products') }}">
            <img
              src="{{ url_for('static', filename='image/logo.png') }}"
              alt="logo"
            />
            Product meneger
          </a>
        </div>
        <div class="authorization">
          {% if not company %}
          <a href="{{ url_for('login') }}" class="button button-reverse">Login</a>
          <a href="{{ url_for('register') }}" class="button button-with-border">Register</a>
          {% else %}
          <a href="{{ url_for('logout') }}" class="button button-with-border">Log Out</a>
          {% endif %}
        </div>
      </div>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
