<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
    <p>{{ msg }}</p>
    {% endfor %}
    {% endwith %}
    <h1>Python Course</h1>
    <img
      src="{{ url_for('static', filename='image/icons8-питон-48.png')}}"
      alt=""
    />
    <p>The best course in the world!</p>
    <a href="{{url_for('register')}}"><button>Register</button></a>
  </body>
</html>
