{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
  <div class="centred-body">
    <div class="container-card">
      <h1 class="title card-title">Login</h1>
      {% with messages = get_flashed_messages() %}
      {% for msg in messages %}
      <p>{{ msg }}</p>
      {% endfor %}
      {% endwith %}
      <form method="post" class="card-form">
        <div class="grouping">
          <label for="name-company" class="card-label">Name company:</label>
          <input type="text" name="name_company" id="name-company" class="input"/>              
        </div>

        <div class="grouping">
          <label for="password" class="card-label">Password:</label>
          <input type="password" name="password" id="password" class="input"/>              
        </div>

        <button type="submit" class="button">Login</button>
      </form>
    </div>
  </div>
{% endblock %}